.contenedor{
    max-width: 50%;
    margin: 0 auto;
}
.borde{
    border-bottom: solid 3px;
    color: blueviolet;
}
.tabla{
    border: solid 1px;
    color: black;
}
table{
    color: black;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;

}
thead{
    background-color: black(243, 140, 210, 0.4) ;
}
th{
    padding: 20px 15px;
    font-weight: 700;

}
td{
    padding: 15px;
    background-color:solid black(243, 140, 210, 0.4) ;

}